---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
    <b>Source</b>: <a href="{{ page.source }}">{{ page.source }}</a><br />
    <b>Tags</b>: {{ page.tags }}<br />
</p>

{% if page.related | size > 0 %}
<p>
    <b>Related: </b>
    <ul>
        {% for recipe in page.related | sort %}
        <li><a href='{{ recipe | replace: ".md", "" }}'>{{ recipe | replace: ".md", "" }}</a></li>
        {% endfor %}
    </ul>
</p>
{% endif %}

{{ content }}

<!--
{%- for item in page %}
    {% assign blacklist = "contents,previous,next,output" | slit: "," %}
    {% unless blacklist contains item %}
        {{ item }} : {{ page[item]}}
    {% endunless %}
{%- endfor %}
-->